
/* .btn-group{
   margin-left: 10px;
   display: flex;
   justify-content: flex-end;
   width: 100%;
}
.btn-group button:nth-child(2) {
    background: none;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    opacity: 0.8;
} */